@model etec.bg.abax.maitre.MVC.Models.Cardapio.Bebida

@{
    ViewData["Title"] = "Detalhar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar</title>
</head>
<body>

<h3>Deletar bebida</h3><br />
<div>

    <!--<h4>Bebida</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idBebida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idBebida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd>
            <img src="~/uploadImages/@Html.DisplayFor(model => model.imagem)" width="300" height="300" />
        </dd>
    </dl>

    <!--<form asp-action="Deletar">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Listar">Back to List</a>
    </form>-->

    <form asp-action="Deletar">
        <button asp-action="Listar" title="Voltar" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-danger" title="Deletar"type="submit"><i class="glyphicon glyphicon-remove"></i></button>
    </form>
</div>
</body>
</html>
