@model IEnumerable<etec.bg.abax.maitre.MVC.Models.Cardapio.Porcao>

@{
    ViewData["Title"] = "Listar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <p>
        <h3 style="display:inline-flex">Cadastrar porção</h3> <button title="" class="btn btn-primary" onclick="location.href='@Url.Action("Cadastrar","porcao")'"><i class="glyphicon glyphicon-plus"></i> </button>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/uploadImages/@item.imagem" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <!--- <td>
         @Html.ActionLink("Edit", "Editar", new { id = item.idPorcao }) |
         @Html.ActionLink("Details", "Detalhar", new { id = item.idPorcao }) |
         @Html.ActionLink("Delete", "Deletar", new { id = item.idPorcao })
     </td>-->
            <td>
                <button title="Detalhar" class="btn btn-primary" onclick="location.href='@Url.Action("Detalhar","Porcao",new { id = item.idPorcao })'"><i class="glyphicon glyphicon-search"></i></button>
                <button title="Editar" class="btn btn-default" onclick="location.href='@Url.Action("Editar","Porcao",new { id = item.idPorcao })'"><i class="glyphicon glyphicon-pencil"></i></button>
                <button title="Deletar" class="btn btn-danger" onclick="location.href='@Url.Action("Deletar","Porcao",new { id = item.idPorcao })'"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
        </tr>
}               
    </tbody>
</table>
</body>
</html>
