@model etec.bg.abax.maitre.MVC.Models.Pessoa.Funcionario

@{
    ViewData["Title"] = "Deletar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar</title>
</head>
<body>

    <h3>Deletar Funcionario</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idFunc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.idFunc)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.cargo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.cargo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.fone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.eMail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eMail)
            </dd>
        </dl>


        <form asp-action="Deletar">
            <button asp-action="Listar" title="Voltar" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button class="btn btn-danger" title="Deletar" type="submit"><i class="glyphicon glyphicon-remove"></i></button>
        </form>
    </div>
</body>
</html>
