@model IEnumerable<etec.bg.abax.maitre.MVC.Models.Pessoa.Funcionario>

@{
    ViewData["Title"] = "Lista";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
</head>
<body>
    <p>
        <h3 style="display:inline-flex">Cadastrar Funcionário</h3> <button title="" class="btn btn-primary" onclick="location.href='@Url.Action("Cadastrar","Funcionario")'"><i class="glyphicon glyphicon-plus"></i></button>

    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcao)
            </td>
            <td>
                <button title="Detalhar" class="btn btn-primary" onclick="location.href='@Url.Action("Detalhar","Funcionario",new { id = item.idFunc })'"><i class="glyphicon glyphicon-search"></i></button>
                <button title="Editar" class="btn btn-default" onclick="location.href='@Url.Action("Editar","Funcionario",new { id = item.idFunc })'"><i class="glyphicon glyphicon-pencil"></i></button>
                <button title="Deletar" class="btn btn-danger" onclick="location.href='@Url.Action("Deletar","Funcionario",new { id = item.idFunc })'"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
