@model IEnumerable<etec.bg.abax.maitre.MVC.Models.Pessoa.Funcionario>

@{
    ViewData["Title"] = "Lista";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
</head>
<body>
<p>
    <a asp-action="Cadastrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eMail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eMail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.idFunc }) |
                @Html.ActionLink("Details", "Detalhar", new { id = item.idFunc }) |
                @Html.ActionLink("Delete", "Deletar", new { id = item.idFunc })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
