<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - etec.bg.abax.maitre.MVC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Menu" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "rest" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administração" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "RH" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administrador")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Área Pessoal
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administrador")
                                {
                                    <li><a onclick="location.href='@Url.Action("Listar", "Cliente")'" style="cursor:pointer">Clientes</a></li>
                                }
                                <li><a onclick="location.href='@Url.Action("Listar", "Funcionario")'" style="cursor:pointer">Funcionários</a></li>
                            </ul>
                        </li>
                    }
                    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "rest" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administração" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Cozinha" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Caixa" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administrador")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Cardápio
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='@Url.Action("Listar", "Bebida")'" style="cursor:pointer">Bebidas</a></li>
                                <li><a onclick="location.href='@Url.Action("Listar", "Porcao")'" style="cursor:pointer">Porções</a></li>
                                <li><a onclick="location.href='@Url.Action("Listar", "Prato")'" style="cursor:pointer">Pratos</a></li>
                                <li><a onclick="location.href='@Url.Action("Listar", "Sobremesa")'" style="cursor:pointer">Sobremesas</a></li>
                            </ul>
                        </li>
                    }
                    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "cli")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reserva
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='@Url.Action("Listar", "Reserva")'" style="cursor:pointer">Minhas Reservas</a></li>
                                <li><a onclick="location.href='@Url.Action("Listar", "Restaurante")'" style="cursor:pointer">Fazer uma Reserva</a></li>
                            </ul>
                        </li>
                    }
                    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != "cli" && etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != "RH")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reserva
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='@Url.Action("Listar", "ReservaRest")'" style="cursor:pointer">Reservas</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.UserID > 0 && etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != null)
                    {
                        @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "rest" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administração")
                        {
                            <li><a asp-area="" asp-controller="Restaurante" asp-action="Detalhar"><i class="glyphicon glyphicon-pencil"></i> Editar Restaurante</a></li>
                        }
                        <li><a asp-area="" asp-controller="Home" asp-action="Menu"><i class="glyphicon glyphicon-user"></i> Bem-Vindo <b>@etec.bg.abax.maitre.MVC.Program.Session.Instance.Nome</b></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Sair"><i class="glyphicon glyphicon-log-out"></i> Sair</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Abax</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
