@model etec.bg.abax.maitre.MVC.Models.Cardapio.Prato

@{
    ViewData["Title"] = "Detalhar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhar</title>
</head>
<body>

<div>
    <h4>Prato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idPrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.diaSemana)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.diaSemana)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Listar","Prato")'"><i class="glyphicon glyphicon-chevron-left"></i></button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Editar","Prato",new { id = Model.idPrato })'"><i class="glyphicon glyphicon-pencil"></i></button>
</div>
</body>
</html>
