@model IEnumerable<etec.bg.abax.maitre.MVC.Models.Cardapio.Prato>

@{
    ViewData["Title"] = "Listar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != "cli")
    {
        <p>
            <h3 style="display:inline-flex">Cadastrar Prato</h3> <button title="" class="btn btn-primary" onclick="location.href='@Url.Action("Cadastrar", "Prato")'"><i class="glyphicon glyphicon-plus"></i></button>
        </p>
    }
    <h3>Pratos</h3>
    <br />
    <br />
    <!---
    <p>
        <b><a asp-action="Cadastrar">Novo cadastro</a></b>
    </p>
    <br />-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.imagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.diaSemana)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/uploadImages/@item.imagem" width="50" height="50" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.diaSemana)
                    </td>
                    <td>
                        <button title="Detalhes" class="btn btn-primary" onclick="location.href='@Url.Action("Detalhar","Prato",new { id = item.idPrato })'"><i class="glyphicon glyphicon-search"></i></button>
                        @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != "cli")
                        {
                            <button title="Editar" class="btn btn-default" onclick="location.href='@Url.Action("Editar", "Prato", new { id = item.idPrato })'"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button title="Deletar" class="btn btn-danger" onclick="location.href='@Url.Action("Deletar", "Prato", new { id = item.idPrato })'"><i class="glyphicon glyphicon-remove"></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
