@model IEnumerable<etec.bg.abax.maitre.MVC.Models.Cardapio.Prato>

@{
    ViewData["Title"] = "Listar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
<p>
    <a asp-action="Cadastrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaSemana)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaSemana)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.idPrato }) |
                @Html.ActionLink("Details", "Detalhar", new { id = item.idPrato }) |
                @Html.ActionLink("Delete", "Deletar", new { id = item.idPrato })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
